@font-face {
    font-family: 'Imprint MT';
    src: url(IMPRISHA.TTF);
}

@font-face {
    font-family:'Constantia';
    src: url(CONSTAN.TTF);
}

@font-face {
    font-family: 'Old English';
    src: url(LCALLIG.TTF);
}

body {
    font-family: 'Constantia', serif;
    font-size: 15pt;
    margin-top: 25px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 40px;
    background-color:antiquewhite;
}

.garg {
    font-family:'Imprint MT', serif;
    font-weight: bold;
    color:maroon;
}

.gifts {
    font-family:'Old English';
    font-size: 13pt;
    line-height:15pt;
}
